@use '@scss/_variables' as *;

section.outer-app {
	position: relative;
	display: flex;
	min-height: 100vh;

	> section {
		flex: 1;
		box-sizing: border-box;
	}

	> nav[class^='inav-'],
	> nav[class*=' inav-'] {
		width: 2.5rem;
		min-height: 50vh;
		box-sizing: border-box;
		background-color: orange;
	}

	> nav[class^='inav-left'],
	> nav[class*=' inav-left'] {
		left: 0;
	}

	> nav[class^='inav-right'],
	> nav[class*=' inav-right'] {
		right: 0;
	}
}
