[submodule "modules/jcemUI"]
	path = modules/jcemUI
	url = https://github.com/JeanCarloEM/jcemUI.git
[submodule "modules/jcemTS"]
	path = modules/jcemTS
	url = https://github.com/JeanCarloEM/jcemTS.git
