@use '@scss/_variables' as *;

section.app {
  position: relative;  

  > nav[class^='inav-'],
  > nav[class*=' inav-'] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2.5rem;
    background-color: red;
  }

  > nav[class^='inav-left'],
  > nav[class*=' inav-left'] {
    left: 0;
  }

  > nav[class^='inav-right'],
  > nav[class*=' inav-right'] {
    right: 0;
  }
}