/* Mostra/Esconde a sidebar no mobile via checkbox */
#sidebar-toggle:checked ~ div > .fixed {
	transform: translateX(0);
}

#sidebar-toggle:not(:checked) ~ div > .fixed {
	transform: translateX(-100%);
}

/* Transição suave */
.fixed {
	transition: transform 0.3s ease;
}
