@mixin btb($_cor, $_over_bg, $_bg: transparent, $_over_color: 0) {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: $_cor;
	user-select: none;
	border-radius: 0.375rem;
	transition: background-color 0.2s ease;
	background-color: $_bg;
	border: none;

	&:hover,
	&:focus-visible {
		background-color: $_over_bg;

		@if $_over_color !=0 {
			color: $_over_color;
		}

		outline: none;
	}
}
