@use '_themes' as *;

$spacing: 1rem;

$header-upper: 1.4rem; // 40px aproximado
$header-height: 2.6rem; // 48px aproximado
$header2-height: 2.4rem; // 40px aproximado
$header3-height: 2rem; // 40px aproximado
$footer-height: 3.125rem; // 50px aproximado
